/* Import Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.css";

/* Navbar */
.navbar-container {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: 80px;
    background-color: #d9d9d9;
    position: sticky;
    top: 0;
    z-index: 1;
}

.app-logo {
    padding: 10px;
    border: 1px solid #000;
} 

.nav-user {
    display: block;
    float: left;
}

.nav-user-profile {
    padding: 10px;
    border: 1px solid #000;
} 

.nav-btn {
    margin: auto 10px;
}

/* Sidebar */
.sidebar-container {
    width: 20%;
    display: inline-block;
    border-right: 5px solid #d9d9d9;
    text-align: left;
}

.sidebar-content {
    list-style: none;
}

.sidebar-item {
    width: 100%;
    padding: 10px;
}

.sidebar-item:not(:last-child) {
    border-bottom: 2px solid #d9d9d9;
}

.create-btn {
    width: 100%;
}

.sidebar-image {
    padding: 10%;
    margin: 10px;
    border: 1px solid #000;
}

/* Home */
.main-container {
    width: 70%;
    float: right;
    margin: 50px;
    display: inline-block;
}

.home-search {
    width: 60%;
    margin: auto;
}

.search-box {
    width: 100%;
}

.home-categories-container, .home-recommended-container {
    width: 90%;
    margin: 50px auto;
    border: 1px solid #000;
}

.home-categories-label, .home-recommended-label {
    float: left;
    margin: 10px;
    display: inline;
}

/* Login and Register*/
.login-container {
    width: 850px;
    margin: 40px auto;
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
}

.details-container {
    width: 550px;
    display: block ;
    padding: 10px;
    border-right: 1px solid;
}

.img-container {
    width: max-content;
    margin: 40px auto;
}

.login-form {
    margin: 10px;
}

.inp-label {
    width: 350px;
    margin: 10px auto;
    text-align: left;
}

.inp {
    width: 350px;
    margin: 10px auto;
}

.form-btn {
    width: 350px;
    margin: 20px auto 10px;
}

.toggle-login {
    width: 350px;
    margin: 10px auto;
}

/* Create Quiz */
.create-container {
    width: 90%;
    display: grid;
    margin: 20px auto;
}

.row {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
}

.col-1,.col-2,.col-3 {
    border: 1px solid #000;
}

/* Leaderboard */
.quiz-leaderboard {
    width: 80%;
    margin: 20px auto;
}

/* Footer */
.footer-container {
    display:grid;
    width: 100%;
    height: 80px;
    background-color: #d9d9d9;
    padding: 20px;
}