/* Import Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lexend:wght@400&display=swap');


/* Navbar */
.navbar-container {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: 60px;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 1;
}

.website-navbar {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: 60px;
    background-color: #702963;
    position: sticky;
    top: 0;
    z-index: 1;
}

.app-logo {
   padding: 1px;
   border-radius: 10px;
} 

.nav-user {
    display: none;
} 

.nav-btn {
    margin: auto 10px;
    display: none;
}

.lgt-btn {
    margin: auto 10px;
    display: block;
}

.ctc-btn {
    margin: auto 10px auto 0;
    display: none;
}


/* Sidebar */

.sidebar-content {
    border: 2px solid #d9d9d9;
    padding: 0px;
    border-radius: 10px;
    background-color: whitesmoke;
    top: 20px;
    width: 100%; /* Adjust the width as needed */
}

.sidebar-item {
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin: 0; 
    color:#702963;
    text-align: left;
}

.sidebar-item:hover {
    background-color: white; 
}
  
.sidebar-item:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

.create-btn-box {
    padding: 15px;
    list-style: none;
}

.create-btn {
    width: 100% !important;
    height: 50px;
    margin: auto;
    padding: 5px !important;
}

.sidebar-image {
    display: none;
}

/* Home */
.main-container {
    width: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.home-search {
    width: 90%;
    margin: auto;
}

.searchlist {
    list-style-type: none;
    text-align: left;
    max-height: 80px !important;
    overflow-y: scroll;
    width: inherit;
    margin: auto;
}

.search-item {
    border: 1px solid #ddd;
}

.search-box {
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #702963;
}

.home-categories-label, .home-recommended-label {
    float: left;
    margin: 10px 10px 0;
    display: inline;
}

.card-box{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
}

.see-btn {
    margin: 20px;
}

/* Login and Register*/

.login-bg{
   /* background-image: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);*/
    background-image: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);;
    min-height: 60vh;
}

.login-container {
    width: 95%;
    margin: auto;
    display: block;
    background-color: white;
    border-radius: 5px;
}

.login-inner-container, .register-inner-container {
    padding: 40px;
}

.details-container {
    width: 100%;
    display: block ;
    padding: 30px;
}

.img-container {
    width: 100%;
    display: none;
    padding: 30px;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.phrase{
    margin-top: 30px;
    font-family:'Kalam', cursive;
    font-size:x-large;
}

.reg-phrase {
     margin-top: 30px;
    font-family:'Kalam', cursive;
    font-size: xx-large;
}

.login-form {
    margin: 10px;
}

.inp-label {
    width: 100%;
    margin: 10px auto 5px;
    text-align: left;
}

.inp {
    width: 100%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-btn {
    width: 100%;
    margin: 40px auto 10px;
}

h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

.toggle-login {
    margin-top: 5px;
    width: 100%;
}

/* Create Quiz */
.create-container {
    width: 100%;
    display: grid;
    margin: 0;
}


/* Leaderboard */
.quiz-leaderboard {
    width: 80%;
    margin: 20px auto;
}

/* Footer */
.footer-container {
    display:grid;
    width: 100%;
    height: 80px;
    background-color: white;
}

Footer {
    position:sticky;
    margin-bottom: 0;
}

/* Add Question */

.create-quiz-row{
    background-color: whitesmoke;
    margin:0;
}

.quiz-detail, .question-detail{
    width: 100%;
    padding: 20px 20px 10px;
}

.question-list {
    margin-left: -25px;

}

.btn-container {
    margin-bottom: 20px;
    display: flex;
}

.quiz-can-btn {
    padding-left: 20px;
    text-align: left;
    display: block;
    width: 100%;
} 

.quiz-save-btn {
    text-align: right !important;
    padding-right: 20px !important;
    display: block;
}

.add-btn-container{
    width: 100%;
    text-align: center;
}

.btn-add-ques {
    margin-left: -10px;
    width: 90%;
}

.card-quiz-details{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
}

.quiz-inp{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.question-list{
    margin-top: 20px;
}

.question-list li{
    list-style: none;
}

.card-question-list{
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: whitesmoke;
    padding: 20px;
}

.question-container, .start-quiz-container{
    padding: 20px;
    text-align: left;
    background-color:#f8f7f7;
}
    
.question-box {
    width: 100%;
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ques-page {
    width: 100%;
}

.ques-type {
    width: 100%;
}

.img-link {
    width: 100%;
}

.img-file {
    width: 100%;
}

.option-btn {
    width: max-content;
    margin: 10px;
}

.ques-card {
    width: 100%;
}

.option-row{
    padding: 5px;
}

.input-box{
    margin-top: 5px;
    border: 1px solid rgb(208, 205, 205);
    outline: none;
    height: 36px;
    border-radius: 4px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.quiz-box{
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-primary {
    background: #702963;
    border-radius: 5px;
    min-width: 80px;
    border: none;
    margin-left: 5px;
}
      
/* New Changes */

.left-col{
    width: 100% !important;
    float: left !important;
    padding: 15px !important;
}

.right-col{
    width: 100% !important;
    padding: 0 15px !important;
    right: 0 !important;
}

.middle-row{
    margin: 0;
    background-color: #702963;
    min-height: 92vh;
    
}

.middle-row > [class^="col-"] {
    padding: 0;
    margin: 0;
}

/* Quiz Category, My Quiz, Quiz History */
.quiz-category {
    margin-bottom: 10px;
}


/* MQ - Media Queries */

@media screen and (min-width: 400px) {
    
}

@media screen and (min-width: 480px) {
    
    .add-btn-container{
        width: 100%;
        text-align: right;
    }
    
    .btn-add-ques {
        margin-right: 20px !important;
        width: 40%;
    }

    .nav-user {
        display: block;
        float: left;
        color:white;
    }

    .nav-btn {
        display: block;
    }

    .login-bg {
        min-height: 75vh;
    }

    .login-container {
        display: flex;
    }

    .login-inner-container, .register-inner-container {
        padding: 60px;
    }

    .details-container {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {

    .img-link {
        width: 50%;
    }
    
    .img-file {
        width: 50%;
    }
    
    .ques-txt, .ques-score {
        width: 70%;
    }

    .ques-time, .ques-del {
        width: 30%;
    }

    .quiz-detail, .question-detail{
        padding: 40px 40px 10px;
    }

    .sidebar-content {
        height: 90vh;
    }

    .main-container {
        min-height: 90vh;
    }
    
    .left-col{
        width: 25% !important;
        position: fixed;
        padding: 0px 20px !important;
    }

    .right-col {
        width: 75% !important;
        padding: 0px 20px 0 0 !important;
        right: 0 !important;
    }
}

@media screen and (min-width: 770px) {

    .opt-btn-cont {
        width: 20%;
    }

    .question-box {
        width: 70%;
    }

    .btn-add-ques {
        width: 200px;
    }

    .quiz-detail {
        width: 30%;
        padding: 20px 10px 20px 20px;
    } 
    
    .question-detail{
        width: 70%;
        padding: 20px 20px 20px 10px ;
        height: max-content !important;
    }

    .sidebar-image {
        display: block;
        padding: 10%;
        margin: 10px;
        border: none;
    }

    .ctc-btn {
        display: block;
    }

    .login-bg {
        min-height: 90vh;
    }

    .login-container {
        display: flex;
    }

    .login-inner-container, .register-inner-container {
        padding: 80px;
    }

    .details-container {
        width: 50%;
    }

    .img-container {
        width: 50%;
        display: block;
        padding: 15px;
    }

    .img-register {
        margin-top: 80px !important;
    }

    .main-container {
        width: 100%;
        display: inline-block;
        background-color: white;
        min-height: 92vh;
        padding: 30px;
    }

    .quiz-card-body {
        height: 150px !important;
    }

    .filter-btn {
        /* width: max-content;
        margin-right: 20px; */
    }

    .card-quiz-body {
        text-align: left;
    }

    .card-btn {
        margin: 5px;
    }

}

@media screen and (min-width: 1000px) {

    .question-box {
        width: 50%;
    }

    .quiz-detail {
        width: 25%;
        padding: 20px 10px 20px 20px;
    } 
    
    .question-detail{
        width: 75%;
        padding: 20px 20px 20px 10px ;
        height: max-content !important;
    }

    .img-container {
        padding: 30px;
    }

    .img-register {
        margin-top: 40px !important;
    }

    .login-img {
        width: 85%;
    }

    .inp-label {
        width: 350px;
    }
    
    .inp {
        width: 350px;
    }

    .sidebar-image {
        padding: 0;
        margin: 0px;
        border: none;
    }

    .side-img {
        width: 80%;
    }

    .quiz-card-body {
        height: 120px !important;
    }
    

}

@media screen and (min-width: 1200px) {
    
    .ques-txt {
        width: 40%;
    }
    
    .ques-time { 
        width: 30%;
    }
    
    .ques-score {
        width: 20%;
    }
    
    .ques-del {
        width: 10%;
    }
    
    .quiz-detail {
        width: 20%;
        padding: 20px 10px 20px 20px;
    } 
    
    .question-detail{
        width: 80%;
        padding: 20px 20px 20px 10px ;
        height: max-content !important;
    }

    .details-container {
        width: 40%;
    }

    .img-container {
        width: 60%;
    }

    .login-img {
        width: 75%;
    }

}
