/* Import Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lexend:wght@400&display=swap');

/* Navbar */
.navbar-container {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: 60px;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 1;
}

.app-logo {
   padding: 1px;
   border-radius: 10px;
} 

.nav-user {
    display: block;
    float: left;
}

.nav-user-profile {
    padding: 10px;
    border: 1px solid #000;
} 

.nav-btn {
    margin: auto 10px;
}

/* Sidebar */
.sidebar-container {
    width: 20%;
    display: inline-block;
    border-right: 5px solid #d9d9d9;
    text-align: left;
}

.sidebar-content {
    list-style: none;
}

.sidebar-item {
    width: 100%;
    padding: 10px;
}

.sidebar-item:not(:last-child) {
    border-bottom: 2px solid #d9d9d9;
}

.create-btn {
    width: 100%;
}

.sidebar-image {
    padding: 10%;
    margin: 10px;
    border: 1px solid #000;
}

/* Home */
.main-container {
    width: 70%;
    float: right;
    margin: 50px;
    display: inline-block;
}

.home-search {
    width: 60%;
    margin: auto;
}

.search-box {
    width: 100%;
}

.home-categories-container, .home-recommended-container {
    width: 90%;
    margin: 50px auto;
    border: 1px solid #000;
}

.home-categories-label, .home-recommended-label {
    float: left;
    margin: 10px;
    display: inline;
}

/* Login and Register*/

.login-bg{
   /* background-image: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);*/
   background-image: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);;
    min-height: 92vh;
}

.login-container {
    width: 850px;
    margin: auto;
    display: flex;
    background-color: white;
    border-radius: 5px;
}

.login-inner-container{
    padding: 80px;
}

.register-inner-container{
    padding: 20px;
}

.details-container {
    width: 400px;
    display: block ;
    padding: 30px;
}

.img-container {
    width: max-content;
    margin: 20px;
}

.img-register {
    margin-top: 80px !important;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.phrase{
    margin-top: 30px;
    font-family:'Kalam', cursive;
    font-size:x-large;
}

.login-form {
    margin: 10px;
}

.inp-label {
    width: 350px;
    margin: 10px auto 5px;
    text-align: left;
}

.inp {
    width: 100%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-btn {
    width: 350px;
    margin: 40px auto 10px;
}

h3{
    margin-bottom: 20px;
}


/* Create Quiz */
.create-container {
    width: 90%;
    display: grid;
    margin: 20px auto;
}

.row {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
}

.col-1,.col-2,.col-3 {
    border: 1px solid #000;
}

/* Leaderboard */
.quiz-leaderboard {
    width: 80%;
    margin: 20px auto;
}

/* Footer */
.footer-container {
    display:grid;
    width: 100%;
    height: 80px;
    background-color: white;
}


/* Add Question */

.question-container, .start-quiz-container{

    padding: 20px;
    text-align: left;
    background-color:#f8f7f7;
    }
    
    .question-box {
        width: 50%;
        background-color: white;
        margin: auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .option-row{
        padding: 5px;
    }
    
    .input-box{
        margin-top: 5px;
        border: 1px solid rgb(208, 205, 205);
      outline: none;
      height: 36px;
      border-radius: 4px;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    
    .button-width{
        min-width: 100px;
    }
    
    .quiz-box{
        width: 60%;
        background-color: white;
        margin: auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .btn-primary {
        background: rgb(95, 10, 135);
        border-radius: 5px;
        width: 150px;
        border: none;
      }
      